@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icon/icomoon.eot?v0ru2d');
  src:  url('fonts/icomoon.eot?v0ru2d#iefix') format('embedded-opentype'),
    url('../assets/icon/icomoon.ttf?v0ru2d') format('truetype'),
    url('../assets/icon/icomoon.woff?v0ru2d') format('woff'),
    url('../assets/icon/icomoon.svg?v0ru2d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector1:before {
  content: "\e920";
}
.icon-saturn:before {
  content: "\e900";
}
.icon-php:before {
  content: "\e901";
}
.icon-javascript:before {
  content: "\e902";
}
.icon-java:before {
  content: "\e903";
}
.icon-css3:before {
  content: "\e904";
}
.icon-svgexport-20-29:before {
  content: "\e905";
}
.icon-svgexport-20-28:before {
  content: "\e906";
}
.icon-svgexport-20-27:before {
  content: "\e907";
}
.icon-svgexport-20-26:before {
  content: "\e909";
}
.icon-svgexport-20-25:before {
  content: "\e911";
}
.icon-svgexport-24-1:before {
  content: "\e912";
}
.icon-33:before {
  content: "\e913";
}
.icon-Frame-2491:before {
  content: "\e914";
}
.icon-Frame-278:before {
  content: "\e915";
}
.icon-Frame:before {
  content: "\e916";
}
.icon-Group:before {
  content: "\e917";
}
.icon-Group2:before {
  content: "\e918";
}
.icon-svgexport-20-19-1:before {
  content: "\e919";
}
.icon-svgexport-20-20-1:before {
  content: "\e91a";
}
.icon-svgexport-20-22-3:before {
  content: "\e91c";
}
.icon-svgexport-20-22-32:before {
  content: "\e91d";
}
.icon-svgexport-24-1-1:before {
  content: "\e91e";
}
.icon-Vector:before {
  content: "\e91f";
}
.icon-Frame-249:before {
  content: "\e910";
}
.icon-icons8-youtube:before {
  content: "\e90b";
}
.icon-icons8-facebook .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-icons8-facebook .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0500;
}
.icon-icons8-facebook .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0700;
}
.icon-icons8-facebook .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-location-current:before {
  content: "\e908";
}
.icon-location1:before {
  content: "\e90a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
